@{
    ViewBag.Title = "Home Page";
}




    <nav>
        <div class="nav-wrapper">
            
        <a href="#!" class="text-center"><h1>Universidad Castella</h1></a>
            

            
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Cursos">Cursos </a></li>
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Estudiante">Matrícula</a></li>
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Inscripcion">Inscripción Estudiantes</a></li>
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Grupos">Materias</a></li>
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Universidad">Pensúm</a></li>
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Docente">Docentes</a></li>
                <li><a class="waves-effect waves-light btn" href="/ProgramaAcademico/Calificacion">Calificación</a></li>
                
                

            </ul>
        </div>
        </nav>

         <body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
             <iframe width="600" height="400" src="https://www.youtube.com/embed/bmk2TSA13w0?autohide=1" allowfullscreen></iframe>

            
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>Misión</h1>
    La Fundación Universidad, acorde con los principios, valores y objetivos que la guían desde su creación, tiene como misión la formación integral de la persona en el plano de la educación superior, y la contribución, mediante su presencia institucional en la comunidad, al desarrollo armónico de la sociedad y del país, especialmente de la Región Caribe colombiana.

    La Fundación cumple esta labor universitaria tanto en la modalidad de pregrado como en la formación avanzada, caracterizándose su quehacer por un amplio contenido social y humanístico, y por el énfasis en la fundamentación científica e investigativa para responder a los requerimientos del progreso de la ciencia y a las necesidades sociales de la región y del país.




    <br />
    <br />
    <br />
    <br />







    <h1>Visión</h1>

    En el año 2022, la Universidad del seguirá siendo una de las mejores universidades del país, de América Latina y el Caribe, por su compromiso con la excelencia en la formación de sus estudiantes y en la creación del conocimiento, su alto impacto en el desarrollo, regional y nacional, y el diálogo con la sociedad global en la búsqueda continua de un futuro mejor.

    En la realización de visión a 2022, la universidad fortalecerá sus acreditaciones, su posicionamiento en los rankings internacionales como reconocimiento a la excelencia en los procesos de enseñanza-aprendizaje con innovación y pedagogía, el alto nivel científico de su cuerpo profesoral y la proyección internacional de la extensión.

    Incrementará y dinamizará la competitividad de sus egresados, quienes serán aliados estratégicos en la ejecución de proyectos y en el fortalecimiento de los vínculos con el sector empresarial.





    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />





    <h1> Eventos </h1>
    <ul>
        <li>
            5/6/2018
            {9:00 a. m.}
            Jornada académica
        <li>
            22/6/2018
            {5:30 p. m.}
            Inauguración del Laboratorio de Psicología
        <li>
            23/6/2018
           {5:00 p. m.}
            Tardes de Piano en el Paraninfo
        <li>
            24/6/2018
            {9:00 a. m.}
            Jornada académica
        <li>
            26/6/2018
            {5:30 p. m.}
            Inauguración del Laboratorio de Psicología
        <li>
            4/8/2018
            {5:30 p. m.}
            Inauguración del Laboratorio de Psicología
        <li>
            6/8/2018
           { 5:00 p. m.}
            Tardes de Piano en el Paraninfo
        <li>
            10/8/2018
           { 9:00 a. m.}
            Jornada académica
        <li>
            12/8/2018
            {5:30 p. m.}
            Inauguración del Laboratorio de Psicología
        <li>
            20/8/2018
           { 5:00 p. m.}
            Tardes de Piano en el Paraninfo

</ul>
    <br />
    <br />
    <br />
    <br />

    <table style="width:100%" border="1">
        <thead> </thead>
        <tr width="33%">
            <!-- Fila 1 -->
            <td align="center"> <b>Area </td> </b>
            <td align="center"> <b>Telefono </td></b>
            <td align="center"> <b>Encargada</td></b>
        </tr>
        <tbody> </tbody>
        <tr width="33%">
            <!-- Fila 2 -->
            <td align="center">Administrativa</td>
            <td>
                <ul>
                    <li>3721192


                </ul>
            </td>
            <td>
                Liliana Perez
            </td>

        </tr>
        <tr width="33%">
            <td align="center">Biblioteca</td>
            <td>

                3721194


            </td>
            <td align="center">
                Lina Osorio
            </td>

        </tr>
    </table>


   


   


</body>  
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Contactanos</h5>
                            <p class="grey-text text-lighten-4">Telefono: 2196800 <br />Mail: contactanos@fnsp.edu.co</p>
                        </div>

                    </div>
                </div>

                <div class="footer-copyright">
                    <div class="container">

                        <a class="grey-text text-lighten-4 right" href="#!">Alma Mater</a>
                    </div>
                </div>
            </footer>
